html, body {
  height: 100%;
  width: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

.App-header {
  text-align: center;
  color: black;
  padding-top: 30px;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.Dfs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 28px;
  color: black;
}

.Dfs-grid table, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto 0 auto;
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-align: -webkit-center;
  vertical-align: middle;
  width: 90vmin;
}

.Dfs-grid tr:hover {
  background-color: indianred;
}

.Dfs-grid th {
  padding: 0 16px 0 16px;
  text-align: center;
  color: white;
}
