html, body {
  height: 100%;
  width: 100%;
}

html {
  display: table;
  margin: auto;
}

.App-header {
  text-align: center;
  color: black;
}

.App-body {
  display: flex;
  flex-direction: column;
  margin-top: 10vmin;
  align-items: center;
  text-align: center;
  color: black;
}

.Dfs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 28px;
  color: black;
}

.Dfs-grid td {
  border: 1px solid black;
  margin: 0 auto 0 auto;
  overflow: auto;
  text-align: -webkit-center;
  vertical-align: middle;
  width: 90vmin;
}

.Dfs-grid th {
  padding: 0 16px 0 16px;
  text-align: center;
  color: white;
}
