.Lineup {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    max-width: 120vmin;
    text-align: center;
}

.Lineup h2 {
    text-align: center;
}

.Player-row td {
    vertical-align: middle;
    text-align: center;
    padding: 1vmin;
}

.Fanduel-header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

.DraftKings-header {
    background-color: black;
}