.Player-cell table {
    border: none;
    text-align: center;
}

.Player-cell td {
    border: none;
}

.Player-cell tr {
    border: none;
}

.Player-cell-row {
    font-weight: bold;
}

.Player-cell-row b {
    color: red;
}

.Player-team-row b {
    color: blue;
}