.Player-pool-grid {
    display: flex;
    max-width: 100vmin;
    max-height: 70vh;
    overflow-x:auto;
    overflow-y:auto;
    margin-top: -1px;
}

.Player-pool-grid th {
    background-color: gray;
    color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}